body {
  background-image: url("../src/assets/black.jpg");
  height: 100vh;
}
.cep-box {
  background: none;
  border-radius: 320px;
  outline: none;
  margin-right: 8.5px;
  text-align: center;
  width: 15%;
  padding: 30px;
  font-size: 30px;
  font-style: italic;
}

.container {
  text-align: center;
  padding-top: 14%;
}
.container h1 {
  color: rgb(183, 0, 255);
}
.lupa {
  color: rgb(207, 6, 123);
  padding-top: rem;
  cursor: pointer;
}
